absl-py
albumentations
altair
annotated-types
antlr4-python3-runtime
astunparse
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
clang
click
colorama
coloredlogs
contourpy
cycler
easydict
filelock
fire
Flask
flatbuffers
fonttools
fsspec
gast
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
huggingface-hub
humanfriendly
idna
imageio
importlib_metadata
importlib_resources
intel-openmp
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
Keras-Preprocessing
kiwisolver
kornia
kornia_rs
lazy_loader
libclang
llvmlite
logger
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mkl
ml-dtypes
mpmath
mtcnn
namex
networkx
numba
numpy
oauthlib
omegaconf
onnxruntime
opencv-python
opencv-python-headless
opt-einsum
optree
packaging
pandas
pillow
platformdirs
pooch
protobuf
psutil
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pyreadline3
PySocks
python-dateutil
pytz
PyYAML
referencing
rembg
requests
requests-oauthlib
retina-face
rich
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
six
smmap
soupsieve
streamlit
sympy
tbb
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thop
threadpoolctl
tifffile
timm
toml
toolz
torch==1.9.0
tornado
tqdm
typing_extensions
tzdata
ultralytics==8.2.13
urllib3
watchdog
Werkzeug
wget
wrapt
zipp
